mixin select-tree(items, level = 0)
    each item in items
        - prefix = Array(level + 1).join('--')
        option(value=item.data._id) #{prefix + item.data.title}
        if (item.children && item.children.length > 0)
            +select-tree(item.children, level + 1)