extends ../../layouts/default.pug

block main 
    .container
        .row
            h1 Chat
        .row.d-flex.justify-content-center
            .chat-container(chat-user-name=user.user_name)
                .message-container 
                    each item in chat
                        if item.user == user.user_name 
                            .message.inner-going 
                                | #{item.content}
                        else 
                            .message.inner-comming 
                                | #{item.content}
                                p #{item.user}
                form(action="" form-send-message)
                    input(type='text')
                    button.mx-2.btn.btn-primary(type='submit')
                        i(class="fa-regular fa-paper-plane")
    script(src="/socket.io/socket.io.js")
    script(src="/static/client/js/socket.js") 
    script(src="/static/client/js/chat.js")