extends ../../layouts/default.pug
block main
    .container 
        .row.content
            each item in data
                .col-2
                    .card
                        img.card-img-top(src=`static/${item.imageLink}` alt='Card image cap')
                        .card-body
                            h5.card-title #{item.title}
                            p.card-text #{item.author}
