header.header
    p Welcome back, #{user.full_name}
    .input-group.rounded
        input.input-search.form-control.rounded(type='search' placeholder='Search' aria-label='Search' aria-describedby='search-addon' value=search)
        button.btn-search#search-addon.input-group-text.border-0
            i.fa-solid.fa-magnifying-glass
